pkgbase = oysterav
pkgname = oysterav
pkgver = 0.2.1
pkgrel = 1
pkgdesc = Linux security orchestrator: oyst-cli backend + oysterAV GTK4 GUI
url = https://github.com/asafelobotomy/oysterAV
arch = any
license = GPL-3.0-or-later
depends = python
depends = python-click
depends = python-pydantic
depends = python-defusedxml
depends = python-gobject
depends = gtk4
depends = libadwaita
depends = polkit
makedepends = python-build
makedepends = python-installer
makedepends = python-wheel
makedepends = python-hatchling
optdepends = clamav: required scanner spine
optdepends = rkhunter: rootkit checks
optdepends = chkrootkit: rootkit checks
optdepends = lynis: hardening audits
source = oysterav-0.2.1.tar.gz::https://github.com/asafelobotomy/oysterAV/archive/refs/tags/v0.2.1.tar.gz
sha256sums = b57af152df00a0a4948fc7e5c14b298bc70aa4c998838f665a35f44551328e24
